.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 100px;
}

.nav-items > ul {
  font-size: 24px;
  display: flex;
  padding: 0 50px;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.search {
  padding: 10px;
}

.res-container {
  display: flex;
  /* justify-content: space-around; */
  flex-wrap: wrap;
}
.shimmer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.res-card {
  padding: 5px;
  width: 200px;
  margin: 5px;
}

.shimmer-card {
  padding: 5px;
  width: 200px;
  height: 300px;
  background-color: #f0f0f0;
  margin: 5px;
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}

.res-logo {
  width: 100%;
  height: 100px;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
}

.user-card {
  padding: 10px;
  border: 1px solid black;
}
